<ion-toolbar>
    <ion-buttons slot="secondary">
        <ion-title class="title-username">{{username}}</ion-title>
        <ion-button disabled>
            <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
        <ion-button disabled>
            <ion-icon name="storefront-outline"></ion-icon>
        </ion-button>
        <ion-title class="title-shopname">{{shopName}}</ion-title>
    </ion-buttons>
</ion-toolbar>