<ion-app>
    <div class="ion-page" style="background-color: white;">
        <div style="margin: auto;">
            <ion-grid>
                <ion-row>
                    <img id="logo" src="./assets/icon/Logo_App.png">
                </ion-row>
                <ion-row>
                    <button id="login" [routerLink]="['log']">เข้าสู่ระบบ</button>
                </ion-row>
                <ion-row>
                    <button id="Regi" [routerLink]="['reg']">ลงทะเบียนผู้ประกอบการ</button>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-app>