#logo{
    position: relative;
    height: 229px;
    width: 229px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    background: #A6D4FF;


}

#login{
    width: 294px;
    height: 59px;
    margin-bottom: 20px;
    background: rgba(54, 159, 255, 0.8);
    border-radius: 12px;

    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

#Regi{
    width: 294px;
    height: 59px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 3px solid #77ACF1;

    color: #77ACF1;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

}