ion-content {
    --ion-background-color: rgb(243, 243, 243);
}

ion-card {
    --ion-background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}