<ion-app>
    <div class="ion-page">
        <app-header-with-back-no-search></app-header-with-back-no-search>
        <ion-content class="background-content">
            <ion-grid *ngIf="showListItem; else testEmp">
                <ion-row>
                    <ion-col size="12" *ngFor="let itm of itemInBucket">
                        <ion-card>
                            <ion-row>
                                <ion-col size="4">
                                    <ion-img [src]="itm.img" class="set-img-bk"></ion-img>
                                </ion-col>
                                <ion-col>
                                    <ion-row>
                                        <ion-col>รหัสสินค้า : {{itm.itemcode}}</ion-col>
                                        <ion-col size="2">
                                            <ion-icon name="trash" class="trash" button (click)="AlertDeleteProduct(itm.id)">
                                            </ion-icon>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col class="edit-font">{{itm.itemname}} {{itm.itemcapacity}} {{itm.itemunit}}</ion-col>
                                    </ion-row>
                                    <ion-row class="ion-align-items-center">
                                        <ion-col size="6">{{itm.itemprice}} บาท</ion-col>
                                        <ion-col size="2">
                                            <ion-icon button (click)="clickEditnumber(itm.id,'remove')" name="remove-circle" class="set-icon"></ion-icon>
                                        </ion-col>
                                        <ion-col size="2" class="ion-text-center">{{itm.numberItem}}</ion-col>
                                        <ion-col size="2">
                                            <ion-icon button (click)="clickEditnumber(itm.id,'add')" name="add-circle" class="set-iconRight"></ion-icon>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
        <ion-tabs>
            <ion-footer>
                <ion-toolbar>
                    <ion-row>
                        <ion-col size="4" id="font-size">ยอดรวม</ion-col>
                        <ion-col class="ion-text-end" size="6" id="font-size">{{totalPrice.toFixed(2)}}</ion-col>
                        <ion-col class="ion-text-end" size="2" id="font-size">บาท</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div>
                                <button class="btn-add confirm" id="suscess" (click)="gocheck()" [disabled]=checkEmty>ยืนยันรายการสินค้า</button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-toolbar>
            </ion-footer>
        </ion-tabs>
    </div>

</ion-app>