.font {
    line-height: 20px;
}

.font #font-16.bold {
    font-weight: bold;
}

.font #font-18 {
    font-size: 18px;
    color: #2C2C2C;
}

.font #font-18.bold {
    font-weight: bold;
}

.font #btn-createPO {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}