#set.pad {
    padding: 0px 0px 0px 15px
}

.font #font-17.bold {
    font-weight: bold;
}

.font #font-16 {
    font-size: 16px;
    color: #000000;
}

.center {
    align-items: center;
}

#card-item {
    border-radius: 10px;
}