 
hr {
    height: 1px !important;
    background: black !important;
    margin-bottom: 10px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
}

h4 {
    padding-left: 2%;
}

#card {
    border-left-style: solid !important;
    border-left-width: 10px !important;
    border-left-color: #8be4eb;
    border-radius: 10px !important;
    align-items: center !important; 
}

.font-color {
    color: black;
}