<ion-app>
    <div class="ion-page">
        <app-header-with-menu-no-search></app-header-with-menu-no-search>
        <app-menu-ham></app-menu-ham>
        <ion-content class="background-content">
            <ion-card class="alltext" *ngFor="let rc of rec">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div class="ion-text-center">
                                <h3>ร้าน: {{rc.shopName}} </h3>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="header">
                        <ion-col class="ion-no-padding">
                            เลขที่ใบเสร็จ: {{rc.rcCode}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="header">
                        <ion-col class="ion-padding-bottom">
                            วันที่ : {{rc.createDate|date: 'dd/MM/yyyy HH:mm'}}
                        </ion-col>
                    </ion-row>
                    <div class="line footer-emp">
                        <div *ngFor="let rcd of recDetail">
                            <ion-row class="detail">
                                <ion-col class="ion-text-start" size="9">
                                    {{rcd.itemname}} {{rcd.itemcapacity}} {{rcd.itemcapunit}}
                                </ion-col>
                                <!-- <ion-col class="ion-text-end" size="3" *ngIf="rcd.numberItem>1">
                                    {{rcd.numberItem}} {{rcd.itemunit}}
                                </ion-col> -->
                                <ion-col class="ion-text-end" size="3" *ngIf="rcd.numberItem==1">
                                    {{rcd.itemprice | number:'1.2-2' }} บาท
                                </ion-col>
                            </ion-row>
                            <ion-row class="detail" *ngIf="rcd.numberItem>1">
                                <ion-col class="ion-text-end" size="3">
                                    {{rcd.numberItem}} {{rcd.itemunit}}
                                </ion-col>
                                <ion-col class="ion-text-end" size="4">
                                    @{{rcd.itemprice | number:'1.2-2' }}
                                </ion-col>
                                <ion-col class="ion-text-end" size="5">
                                    {{rcd.totalPrice | number:'1.2-2'}} บาท
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>

                    <ion-row class="line">
                        <ion-col class="ion-text-start" size="9">
                            รวมทั้งหมด
                        </ion-col>
                        <ion-col class="ion-text-end" size="3">
                            {{rc.totalPrice | number:'1.2-2'}} บาท
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="ion-text-start" size="9">
                            เงินสด
                        </ion-col>
                        <ion-col class="ion-text-end" size="3">
                            {{rc.cash | number:'1.2-2'}} บาท
                        </ion-col>
                    </ion-row>
                    <ion-row class="footer-emp">
                        <ion-col class="ion-text-start" size="9">
                            เงินทอน
                        </ion-col>
                        <ion-col class="ion-text-end" size="3">
                            {{rc.change | number:'1.2-2'}} บาท
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-content>
        <ion-toolbar>
            <ion-grid>
                <ion-row>
                    <ion-col size="10 " offset="1 ">
                        <button class="btn-add font" style="font-size: 20px" (click)="backToSell()">
                          กลับสู่หน้าจำหน่ายสินค้า
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </div>
</ion-app>