#arrow {
    position: absolute;
    width: 50px;
    height: 26px;
    color: #5BB1FF;
}

#regi {
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    color: #369FFF;
}

#next {
    background: #369FFF;
    width: 100%;
    height: 53px;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

#down {
    bottom: 0;
}

#condition {
    width: 20px;
    height: 20px;
}

#margin-top {
    margin-top: 50px;
}

#margin-top-12 {
    margin-top: 12px;
}

.item-input {
    ion-label {
        position: relative;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        margin-left: 14px;
    }
    ion-label::after {
        content: " *";
        color: red;
    }
    .input-fill-secondary {
        flex-direction: row;
        align-items: center;
        padding: 7px 8px;
        background: #dfefff;
        border-radius: 10px;
        border: 0px;
        margin-top: 6px;
        align-items: center;
        color: black;
    }
}